
.image{
    width: 240px;
    height: 200px;
    border-radius: 10px;
    transition: transform 0.5s;
}


.image:hover {
    transform: translateY(-3px);
  }


  @media (max-width: 560px){
    .image{
        width: 100%;
        height: auto;
         
    }
}