
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&family=Nanum+Gothic&family=Poppins:wght@400;700&family=Roboto:ital,wght@0,500;1,400&display=swap');


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --default-spacing: 10px;
  --default-margin: 1rem;
  --medium-margin: 3rem;
  --larger-margin: 5rem;
  --primary-color: #7676d7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    /*color: var(--primary-color);*/
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .title {
    text-align: center;
    margin-top: var(--default-margin);
    color: /*#7676d7*/ #76a7d7;
    font-family: 'Roboto', sans-serif;
  }

 
  
  .error-msg {
    color: #ff0000;
    text-align: center;
  }

  .search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--default-margin);
  }

  .search-section .search-input {
    min-width: 300px;
    padding: var(--default-spacing);
  }

  .search-section .search-btn {
    margin-left: var(--default-spacing);
  }


  .filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-top: var(--default-margin);
  }
  .filters > * {
    padding: 5px 10px;
    background: #7676d7;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }


  .images {
    margin-top: var(--medium-margin);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: var(--default-spacing);
    justify-content: center;
    align-items: center;
  }


  .images .image {
    width: 200px;
    height: 200px;
    justify-self: center;
    align-self: center;
    margin-left: 2rem;
    border-radius: 10px;
    transition: transform 0.5s;
  }


  .images .image:hover {
    transform: translateY(-3px);
  }

  @media (max-width: 768px) {
    .images {
      width: 90%;
      height: auto;
      justify-content: center;
    }
  }
  
  @media (max-width: 480px) {
    .search-section .search-input {
      width: 100%;
      min-width: unset;
      margin: 0 var(--default-margin);
    }
  
    .images {
      grid-template-columns: 1fr;
    }
  }